[submodule "_v1/Data-Abstraction-Platform-Front-End"]
	path = _v1/Data-Abstraction-Platform-Front-End
	url = https://github.com/icipe-official/Data-Abstraction-Platform-Front-End.git
	branch = main
[submodule "_v1/Data-Abstraction-Platform-Back-End"]
	path = _v1/Data-Abstraction-Platform-Back-End
	url = https://github.com/icipe-official/Data-Abstraction-Platform-Back-End.git
	branch = main
