#!/bin/bash

# NB. 
# 1. Create env.sh script in this current directory and copy contents of this file into it. 
# 2. Populate env variables with appropriate values 
# 3. Run `source env.sh` to set the env variables in the current shell session.
# Run this command from within the configs directory to ensure WORKING_DIR is set correctly.
# Reference: https://stackoverflow.com/questions/59895/how-do-i-get-the-directory-where-a-bash-script-is-located-from-within-the-script

# Set project root directory
SOURCE=${BASH_SOURCE[0]}
while [ -L "$SOURCE" ]; do # resolve $SOURCE until the file is no longer a symlink
    DIR=$( cd -P "$( dirname "$SOURCE" )" >/dev/null 2>&1 && pwd )
    SOURCE=$(readlink "$SOURCE")
    [[ $SOURCE != /* ]] && SOURCE=$DIR/$SOURCE # if $SOURCE was a relative symlink, we need to resolve it relative to the path where the symlink file was located
done
WORKING_DIR=$( cd -P "$( dirname "$SOURCE" )" >/dev/null 2>&1 && cd .. && pwd )

export WEB_SERVICE_CORS_URLS="http://localhost:5173 CORS_URL_2" #separated by space (replace CORS_URL_2 with another URL or nothing if need be)
export WEB_SERVICE_APP_PREFIX="data_abstraction_platform" #for redis keys
export WEB_SERVICE_PORT=5173
export WEB_SERVICE_BASE_PATH="/rp" # Enable if web services will use a shared domain and therefore be hosted on a sub-path.
export VITE_WEBSITE_LOG_LEVEL="0"
export VITE_WEBSITE_TITLE="Data Abstraction Platform Dev"
export VITE_WEB_SERVICE_API_CORE_URL="http://localhost:5174/api"
export PSQL_DATABASE_URI="postgres://<POSTGRES_USER>:<POSTGRES_PASSWORD>@<POSTGRES_HOST>:<POSTGRES_PORT>/data_abstraction_platform?sslmode=disable"
export PSQL_DATABASE_MIGRATION_SCRIPTS_DIRECTORY="$WORKING_DIR/database/psql_database_migrations_scripts"
export REDIS_HOST_PORT="localhost:6379"
export REDIS_PASSWORD=""
export REDIS_DB=15 # 0 to 15
export MAIL_HOST=""
export MAIL_PORT=587
export MAIL_USERNAME=""
export MAIL_PASSWORD=""
export IAM_ACCESS_REFRESH_TOKEN=""
export IAM_ENCRYPTION_KEY=""
export IAM_COOKIE_HTTP_ONLY="true" #'true' a must for production
export IAM_COOKIE_SAME_SITE="3" #1 for SameSiteDefaultMode, 2 for SameSiteLaxMode, 3 for SameSiteStrictMode (preferred), 4 for SameSiteNoneMode
export IAM_COOKIE_SECURE="true" #'true' for production
export IAM_COOKIE_DOMAIN="http://localhost:5173" #unset for production?
export LOG_USE_JSON="true"
export LOG_LEVEL=-4 #on a scale: debug(-4)-info(0)-warn(4)-error(8)
export LOG_COINCISE="true"
export LOG_REQUEST_HEADERS="true"
export LOG_APP_VERSION="v1alpha"
export WEBSITE_DIRECTORY="$WORKING_DIR/web/dist"
export WEBSITE_URL="http://localhost:5173"